*{
    box-sizing: border-box;
    padding: 0;
}
body{
    margin:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    background: url(./image/image-2.jpg)center/cover;
   height:100vh;
   display: flex;
   flex-direction: column;
    color: white;
}
.container{
    margin: 0 auto ;
    width: 1000px;
    padding: 1rem;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav .logo{
    font-size: 2.5rem;
} 
nav ul{
    display: flex;
    list-style: none;
    padding: 0;
}
nav li a{
    text-decoration: none;
    color: white;
    padding: 16px;
}

.hightlight{
    background-color:#00c2ff; 
    text-decoration: none;
    color: white;  
     padding: 8px;
}
.select{
    font-weight: bold;
} 
.content{
    margin:  auto;
    font-size: 1.2rem;
}
main{
text-align: center;
}
img{
    cursor: pointer;
    width: 650px;
}
.content h1{
    color: rgb(0, 194, 255);
}
footer{
    background-color: black;
    color: white;
    
}
footer ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
strong{
    color: #00c2ff;
}
footer p{
    margin: 0;
}
@media screen and (max-width:425px)
{
    
    header{
       height: auto;
    }
     nav , nav ul{
        flex-direction: column;   
    }
    nav .logo , header h1{
        font-size: 24px;
    }
    nav li{
        margin: 8px 0px;
    }
    img{
        width: 100%;
    }
    footer ul{
        flex-direction: column;
        justify-content: center;
    }
    .container{
        width: 100%;
    }    
    header .content{
        font-size: 16px;
        margin-left: 8px;
    }
}






